$background-project: #e9eaeb;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	background-color: $background-project;
}

input,
select,
textarea {
	outline: none;
	font-size: 1.6rem;
}

.wrapper {
	font-size: 1.4rem;
}

.form__errValidate {
	margin-top: 1rem;
	font-style: italic;
	color: #f00;
	font-size: 1.2rem;
}
