$action-color: #FF5E1F;
$border-radius-box: 0.8rem;

@mixin sizeBox($width, $height: $width) {
  width: $width;
  height: $height;
}

.result {
  margin: 15rem auto;
  width: 50%;

  &-item {
    display: flex;
    padding: 1rem;
    height: 20rem;
    background-color: #fff;
    border-radius: $border-radius-box;
    & + & {
      margin-top: 1.5rem;
    }

    &__img {
      @include sizeBox(18rem, 100%);
    }

    &__photo {
      @include sizeBox(100%);
      display: block;
      object-fit: cover;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      margin-left: 2rem;
      padding-top: 1.5rem;
      width: 100%;
    }

    &__name {
      font-size: 2.5rem;
    }

    &__sub, &__box {
      margin-top: 1rem;
      font-size: 1.8rem;
      font-weight: bold;
      color: #aaa;
    }

    &__require {
      & + & {
        margin-left: 1.5rem;
      }

      img {
        margin-right: 0.5em;
      }
    }

    &__price {
      color: $action-color;
    }

    &__btn {
      margin-top: 2rem;
      padding: 1.5rem 0;
      border: none;
      border-radius: $border-radius-box;
      width: 18rem;
      background-color: $action-color;
      color: #fff;
      font-weight: bold;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}