		<form class="form" action="/trangchu/store" method="post">
      <div class="form-collect">
        <div class="form-box">
          <label for="pickup_location">Từ sân bay</label>
          <select name="pickup_location" id="pickup_location">
              {{#each bookings}}
            <option value="{{this.trip_details.pickup_location}}">{{this.trip_details.pickup_location}}</option>
                {{/each}}
          </select>
        </div>
        <div class="form-box">
          <label for="dropoff_location">Đến khu vực, địa chỉ nhà</label>
          <select name="dropoff_location" id="dropoff_location">
             {{#each bookings}}
            <option value="{{this.trip_details.dropoff_location}}">{{this.trip_details.dropoff_location}}</option>
                {{/each}} 
          </select>
        </div>
        {{!-- <div class="form-box">
          <label for="">Ngày đón</label>
          <input type="date" />
        </div>
        <div class="form-box">
          <label for="">Giờ đón</label>
          <input type="time" />
        </div> --}}
      </div>
      <button type="submit">Tìm kiếm</button>
      <div class="clear-both"></div>
		</form>

    {{!-- <div class="result">
      <div class="result-item">
        <div class="result-item__img">
          <img src="https://hentaiz.top/images/thumb/oni-chichi-2-ep2.jpg" alt="">
        </div>
        <div class="result-item__content">
          <div class="result-item__info">
            <h3 class="result-item__title">Title</h3>
            <p class="result-item__company">Smartans</p>
            <div class="result-item__box">
              <div class="result-item__customer">2 hành khách</div>
              <div class="result-item__suit">2 hành lý</div>
            </div>
          </div>
          <div class="result-item__payment">
            <h3 class="result-item__price">2.000.000.000đ</h3>
            <button>Chọn</button>
          </div>
        </div>
      </div>
      <div class="result-item">
        <div class="result-item__img">
          <img src="https://hentaiz.top/images/thumb/oni-chichi-2-ep2.jpg" alt="">
        </div>
        <div class="result-item__content">
          <div class="result-item__info">
            <h3 class="result-item__title">Title</h3>
            <p class="result-item__company">Smartans</p>
            <div class="result-item__box">
              <div class="result-item__customer">2 hành khách</div>
              <div class="result-item__suit">2 hành lý</div>
            </div>
          </div>
          <div class="result-item__payment">
            <h3 class="result-item__price">2.000.000.000đ</h3>
            <button>Chọn</button>
          </div>
        </div>
      </div>
      <div class="result-item">
        <div class="result-item__img">
          <img src="https://hentaiz.top/images/thumb/oni-chichi-2-ep2.jpg" alt="">
        </div>
        <div class="result-item__content">
          <div class="result-item__info">
            <h3 class="result-item__title">Title</h3>
            <p class="result-item__company">Smartans</p>
            <div class="result-item__box">
              <div class="result-item__customer">2 hành khách</div>
              <div class="result-item__suit">2 hành lý</div>
            </div>
          </div>
          <div class="result-item__payment">
            <h3 class="result-item__price">2.000.000.000đ</h3>
            <button>Chọn</button>
          </div>
        </div>
      </div>
    </div> --}}