<div class="mt-4">
    <h3>Tạo Chuyến Đi</h3>
    <form action="/booking/store" method="post" enctype='multipart/form-data'>
  <div class="form-group">
    <label for="exampleInputEmail1">Nơi Đi*</label>
    <input type="text" class="form-control" id="pickup_location" name="pickup_location" >
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">Nơi Đến*</label>
    <input type="text" class="form-control" id="dropoff_location" name="dropoff_location" >
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Ngày Đón*</label>
    <input type="date" class="form-control" id="pickup_date" name="pickup_date" >
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Giờ Đón*</label>
    <input type="time" class="form-control" id="pickup_time" name="pickup_time" >
  </div>
   </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Số Chuyến Bay*</label>
    <input type="text" class="form-control" id="flight_number" name="flight_number" >
  </div>
   </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Số Lượng Khách*</label>
    <input type="text" class="form-control" id="passengers_count" name="passengers_count" >
  </div>
     </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Số Hành Lý*</label>
    <input type="text" class="form-control" id="suitcases_count" name="suitcases_count" >
  </div>
       </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Loại Phương Tiện*</label>
    <input type="text" class="form-control" id="selected_vehicle" name="selected_vehicle" >
  </div>
       </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Giá*</label>
    <input type="text" class="form-control" id="price" name="price" >
  </div>
       </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Số Trẻ Em*</label>
    <input type="text" class="form-control" id="baby_seats" name="baby_seats" >
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">Hình Ảnh*</label>
    <input type="file" class="" id="image" name="image" >
  </div>
       </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Khứ Hồi*</label>
    <input type="checkbox" class="form-control" id="roundtrip" name="roundtrip" >
  </div>
  
      <div class="form-group retry">
    <label for="exampleInputEmail1">Ngày Về*</label>
    <input type="date" class="form-control" id="rt_return_date" name="rt_return_date">
  </div>
   
  <button type="submit" class="btn btn-primary">Thêm chuyến đi</button>
</form>
</div>